body {
  height: 1000vh;
}
.container{
  width: 100%;
  height: 500px;
  background-position: center;
  background-size: cover;
  background-image: url(data:image/jpeg;base64,/
    9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBwgHBgkIBwgKCgkLDRYPDQwMDRsUFRAWIB0iIiAdHx8kKDQsJCYxJx8fLT0tMTU3Ojo6Iys
    /RD84QzQ5OjcBCgoKDQwNGg8PGjclHyU3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3N//
    AABEIAJQBDgMBIgACEQEDEQH/xAAbAAACAwEBAQAAAAAAAAAAAAADBAACBQEGB//EADwQAAIBAgMFBQYEBAYDAAAAAAECAAMRBBIhMUFRYZEFEx
    RxgSIyQlKh0QaSscEjYoLwFkNEVHLhM1OD/8QAGgEAAwEBAQEAAAAAAAAAAAAAAQIDAAQFBv/EACMRAAIBBAIDAQEBAQAAAAAAAAABAgMREhMEURQx
    QSEiMgX/2gAMAwEAAhEDEQA/APmOWdCy+WdCz1jgKZZ20vllssIAeWTLC5ZAsILgws6FhAsuqxgXA5Z3LD5JAkILggs7lhgksEmBcBkncsNknckwLgA
    suFhcmksEmBkByyFYwEkyTAuLWkCw5SQLMa4HLJlhsk7kmNcBllgsN3chSYNwOSVNOMBbSwW8FzXEikrljxpXlDSguFMTyyWjJpSppTXHTFis5lh+7ky
    RWG4ArOZYYpOAQMJTLO5YcJOhJhWwGWWCQ4SWCQguACSwSHCS4SG4txYJLBIwKesuKc1xbiwSdCRru50U4bguLinLd3GBTlxSmuC4qElu70jYpTvdQXB
    cTFOd7uOdzLClNkC7EhTk7uPd1J3M2QBHu53uo73UndcpsjCqUA5trOvhWp7U9njGxSl+7Yix2RXIdGf3dt1pbu7iaC0L7oRKGVgSgI4EbYrmFIyjSvOdw
    d03WAbTw1BQOCyhRwDYAeQi7BsTHFNhtBtO9zf1mylO9s7X5GSphqZOana3CK6gygYxwwlHw02/BhhffBVMJUG7SbYHFmIaEE1K02GwzbgII4Zt6xsw2Mk
    05Q05rNhSdogzhL7j0mzQRIU5YU+UOq3Nht4QioJskK4sWFOXFONLSEItEboMxbMyqrtS0ygyU8SPipHzmt4dW2qDKPSprplEGY6Sa/UK06tJuN4wiBhe8
    DUCodFZfSU8SRfI+zdlmzDqv6G8p2XA9INnCH2nQDltihxBcHMzHiAYEN7Vwo9Zsx48dmvSNN9jgmHWkDsmZha6L/5KVx5/9zVo11suUhlPw31gzFlQaOi
    kJYUY0jK2hBXzhloA7INhPUxEUZYUZoChylxQ5TbDazOFHlIaPKaYocp3w8Gw2sy+4lhQmj4eWFG02w2szhh+UuMPHxSlhSEVzGUBJaNtghlog7RGBTAhFS
    0VzHURbwynYJRsKJoBZYIOF5PNj4oy/D23Svc23GahRfKc7tTuvM6hsDNFM7oQJprYx00AdgM4KJGxYuYyiJNQpn4ZXwiDbHjTI2i0oywZjKIi+FSAegFOk
    0wgM4aQO8CbNhxR5alhVLBlAFudv0he4OujRGlXKm9NFqKNfZJH0EHXxlSpqn8NSLZUO6Wuza2zQSmcOGF9u2+tupgKmPamR/BFt+u3pMs3N763nVDj3WsI
    bh0X9msnalLfSPUH9ZGx9BxbunH9X2mXl5S6rBkMqKGnrpf2VPppCU0pVrAoyt1/SKARmguw2cEbwYMh1SGF7MubspHDT7y57GDXKs1+BEcwoxKgPmfLfQML
    ibGHcgim1NQxF9dLyTq2NhJHlx2S4NlufSM0eya+ljb0nsKeH7210AbyEv4UqdgtF3A/rowcL2dWp++UYcNdI/Tw+VLWmgKFtohFoaXAg2CONzPWiIQUBHxRPC
    dFB8wumnG8G02q4gKEsKHIzTXDnYRLeHA2iDcHUZfh+U4cPpsM2FwxPuy/hSBrk6TbgajE8PxE74cGbHd0U2rc+UhWkd2WbcDUY5wbGQYZhtuJsjD5x7DAypou
    uhX6QbTajNXDX+KXGFPG/pHgmvu28oTK/wALnytFdQZQM/wYUXYXgnorfYRNU03PvTgoryi7BsDOp0VOwwnhcw0jww63FxbyhDSRBa8R1R1AyWwZvpaVOBO8fS
    aLhFOpt5mUfF06ABLpc7Lm14Nj+BVMQ8FpoDKnBi+yXr9rNnshAPEqTCU8TWZb94v9ImzkHBHyxlWm38ByRuOwyt3y2uYVUPCWFPlOzYWVBi+QbpYUzwMaWkeUI
    tL+YRHVKKgKBDwl1pnhHVo8L9IRaDcIjqjqgLUlI2oDNbB18PTtnwwJvtgFoPwhkw0R1RvHPQ4XtjBsoSpTFgLe0NIZq+EAJFmUjQD/AKmBTwouLmPUKCU9guZC
    U18Y6oGj3ie9SOS3CTD4l0JWrVz5tdRsi1ju2SyrrffE2jeMmaCVqbjMHU8ReMUxm1BEy1pA+8Nu8Q9LOlspNpN1mbxImoqPty3kZCVIJZL7bbYvSrVANphfE1y
    LXB8xJvkMC4qRnVaNVKuZXqlRvuZoYLEsxC1guU/EQZamaje+2h3RnC0bNoqhfOL5A8qStZobC0CgIdwOQvAVO5B2uYx7i+zYRWtUdTcKhhXIZzqgiZaRt+8rUo
    rcm4MEcSAdVAhA9NjcC55yirsV8cqFQD3mBEsKxA2k+cMEVhsUeRlHpLuA6xt6ZN0bAziQdCB0nRiF+Vekp3djoo14SEFb6Wtth2G1hGr07aq3pBHEqG/8L28pe
    kFcEgEiEyLobKPWK6hsBXxFZ2y0sMwHFmsId6LVB7VQqbfCRC5Bb3wBOGrRp7GXpBsv6GwEavZ9SmhYVe8IN8ra3iFbs7FV3ByoF5i1psnHUB7zLKP2lQUiwzeU
    G2SHUBbCYOyBCFUjfb94c1KdM5TY24QbY5XcgWReM41r62POB1GxtZ8vFO+6FWlyhEQ8IZUnY5nUqYJaXKGSmPlhUTlGEX+WSdQoqQJEPAQ6JyEKlMRhKQknVHVI
    AlHlDLhwRDph4dMPJOsMoC1PC84dMLb4o3To8jGqWHS2zWRlXDZIQTDwy0Bwjy0BwhBQ02ST5ALoTSiLQq0OUaSjyh0ojhIyriuQqlAcIQYe+6OJRHCGWjykHXZN
    1UjO8NpttLJRVTqCfWaXc8pU0OUyqyE2piWVRsUj1g3F9gMfNDlKGhyjquwqUTNalfaJAhHKaQw9z7st4XlKquwZxM05rAAy9KkWPtGP+FHCdGHG4CNuEcoi4w6q
    Lgm87UUbct/SNCjbcOkqaRPLyh3Cfgi9UJoqW9InXJqsGIItumucMvxMTBnD0uJh3DrEy89XLYGwi1SmxOpJm02HpbjKHD0+MdVhlYxDQ5Tnd5Tv9ZsHD0htvBtSo
    jcTGVYb86Mw2AkFdlFjr5zQK0R8MpaiPhHqI2YLHh1oE7oVKHIxmn3fEQy9zxEaVZnoKkhZaB+WHSgeEaTuPmHSML3PzCRlXZsLCiUhDpS5HpGFWhyhF7n5pKVZhs
    CpUCbWjdPDPca6ziNSGxh0hlel88jKqybuFp4dxo1O/MGMphwPgN4GnXpLsP1h1xiDZac8qjIyUy4oHhCLQO8QYxi8PrLeJRuPWTcyTz6DLRHCHSiOEXp4hAQReMp
    ilOkCnH6RmphqdAcIxTw4O6CpV1No/QqA2ndxYUqslG5yVJSQIYXlKPhrDZNEbJSoyqNZ7NT/AJ1GML39HOqsrmY1DlK9zwjNSsoOhEXeuvETw5qlH6dEZSZXu7b5
    CBbUyjV14iDbEDkZPbEqoyYX2ROF1GyA8QN0o1YGDah1BhmcGULWgTVHGUNUcYNg6gFZoFtdptOGoOMoai7zHU2UUCMBxg2850unGczpxjbB1EGw5yhWGNRBvEqaqx
    tgbACJX0hjWUbhKGuOAjKqGx86WufmhVrniZhrj6fE9IVe0U4z3XRfQy5EOzdSsecKlbmZhL2nT+aXXtSn830kpcd9FFyYdm+tY8TDLXM8+vatL5j0hF7Uo/Oekm+M+ii
    rw7PQLWhVr8/rPPL2pR+Y9IZe06PE9JKXFl0Psh2b614Va5mAvaVL54VO0aXz/SQlxZdDKUH9N9a8IuI5zCXHp80KuPTlOeXFfQf4ZuriD80Yp4o8Z59ccp3jrDJi13
    EdZzT4jA6UWekpYxh8UdoY9hb2p5VMV5RhMXYbZzSoVI+jmnxIyPXp2owW14HEdolt882MYbSjYw3jSnyJxxcnYhHgxT9GxUxpMWfGN/ZmW2Lbl1gXxTcB1mhQk/Z0x4
    yRqNjGlPGNMpsU42Lf1g2xlUf5V/WdMeKyuqKNjxrcZU41uJmK2Oq/+g9YJ+0Kw93DMZZcUGEDe8a3EznjTvM8xie2noKDVoML7Jnv+K1Bt3A/PLR4UmK9aPaHHCc8aLk
    TxB/FR3YZfzwb/i1sxPhU/OZVcCXQuykj3JxgnPGCeFH4t+bCr6MZD+LQf9KT5NCuBPoG6kvp7g4wSvjOc8P/AIvp78Kfzzn+L6X+1b80ZcCYPIor6e48Z/NKnF6+9PDH8
    YUd+Ff8wnP8YUP9rV9GEbwZ9C+VR7PNg85YNygg3n0lgZ9AfPJsKG5S4YcIAOOcurcj0iuxRNhw4llqCCB/lMuC3y/QxHYqmw6uIZHtuiyueH6/aGR+f0P2iNIvEYSr/do
    dKo5wCEn4f1jCIdyGRlY6I5B0rDg0MtcW2NAopA1sIempI2rIyxOiOQVK44NGUrD5T6QCBvhCk+Y+8MrOu3ux6znnidEWxmnXGnsvGKdXMbBKnQxekwb4lva/vTQwtiBsv/
    yM4quKLKQzRHsXyOYvXcgmwI8zNbDuAnsjXleJ4ssSTZR56Tipv+v0SM7szGrG2wn1gmrHgR1jDsw2sn1gi/F0HWd8LWC2C74jj9ZzxBv8XQy7NYaMvqYMsT8S+hMvGxNtnD
    iDuNusocTUXYw6yE3O0el5whhu/USsUiUmyeLrcb+so2IZttMH0nWJ32HmYJg590fvKqxGVzjLQf38MjeaCBfC4BtvZ9K/JBLFanEDzEqwqrrmQD0lETYNsF2dvwNMf0wZwPZ
    x/wBEo8tIcNVPxKfISE1N5XpDd9iNIUfsvsw7cMR/9DBN2R2a3+VUHlUMdJbj0EqS28HoI12K4roz27B7PI9lq6+TCLP+HcLfTEYjoD+01i/FT0lDUQH2rX8oykxXCP1HlAP7
    sJYSSTsOBF7CWVf5m6ySRWUQRSeJhALC952SIyyOhyBeWSsflXpJJJMtEPSqk2GVekO1bISRTpmw3rJJIyOmBejjGYgGlT14X+8dpuW02DgCZJJGReI/Sp/w82d9gNrwqA5L5m
    6+UkkhMtEZoAs4Gdrec1cPQUsAWJB3Gx/aSScFcd+jS8NTFG5AbzVftMvFoqsQFW3/ABEkk5I+yEP9CVWgli3teWYgTFxWMalUyoibdpv95JJ6NP0XYTCg4gnMcul/ZAH7TtSll
    Ojv1kknUicihUkau30MFqHsSD5qPtJJGRJjIoLlBzNrwNpV6Cm2rfmkklESZVsMqqSHf6faI1GqIGIqHTZdV+0kkdCMUbG1L+0qt53+86mMZmANOn9fvJJHQjGwS4ufv+s4ygSS
    QgKaHdOimOJE5JCBn//Z);
  background-attachment: fixed;
  

  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

